*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --neutral-0: #ffffff;
  --neutral-50: #fafafa;
  --neutral-500: #747b95;
  --neutral-800: #333950;
  --neutral-900: #25293a;
  --blue-100: #e4eaff;
  --blue-300: #829cff;
  --blue-500: #5175ff;
  --red-400: #f05b5b;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--neutral-800);
  position: relative;
  background: var(--neutral-50);
}

a {
  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2.5rem, 0.2544rem + 4.6784vw, 3.5rem);
  line-height: 120%;
}

h2 {
  font-size: 1.25rem;
  line-height: 140%;
}

p {
  font-size: 1rem;
  line-height: 160%;
  color: var(--neutral-500);
}

strong {
  font-size: 3.5rem;
  line-height: 120%;
  color: var(--neutral-900);
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1110px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn--solid {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: var(--neutral-0);
  background: var(--blue-500);
  font-weight: 700;
  padding: 0.75em 2.5em;
  border-radius: 12rem;
}

.btn--solid-shadow {
  box-shadow: 0 25px 25px -10px rgba(63, 91, 194, 0.25);
}

.btn--solid-light {
  background: var(--blue-100);
  color: var(--blue-500);
}

.btn--solid-inverted {
  color: var(--blue-500);
  background: var(--neutral-0);
}

/* HEADER */
.top-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

header {
  padding-top: clamp(2.5rem, 0.1145rem + 10.1781vw, 5rem);
  padding-bottom: clamp(5rem, 3.0867rem + 8.1633vw, 8.75rem);
}

.main__nav {
  justify-content: center;
}

@media only screen and (min-width: 48rem) {
  .main__nav {
    justify-content: space-between;
  }
}

/* HERO */
.hero {
  text-align: center;
}

.hero__content {
  align-items: center;
  gap: 1.5rem;
}

.hero__image {
  max-width: 55%;
  margin: 0 auto 3rem;
}

/* PRICING */
.pricing {
  position: relative;
}

.pricing__background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60%;
  background-color: var(--neutral-900);
  z-index: -1;
}

.card__container {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 2.5rem 1.5rem;
  box-shadow: 0 50px 50px -25px rgba(75, 92, 154, 0.24);
  border-radius: 0.75rem;
  background: var(--neutral-0);
}

.card-blue {
  background: var(--blue-500);
  .card__title,
  strong,
  .card__price p,
  .card__features li {
    color: var(--neutral-0);
  }
}

.card__title {
  color: var(--neutral-900);
  margin-bottom: 1rem;
}

.card__price {
  gap: 0.5rem;
  p {
    color: var(--neutral-900);
  }
}

.card__features {
  list-style: none;
  gap: 1rem;

  li {
    color: var(--neutral-500);
  }
}

/* COUNTDOWN */
.countdown {
  padding-bottom: 7rem;

  h2,
  strong {
    color: var(--neutral-0);
    text-transform: uppercase;
  }
}

.countdown__content {
  align-items: center;
  gap: 1.25rem;
}

.countdown__title {
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 5px;
}

.countdown__time {
  margin-bottom: 1.75rem;
}

.accent-text {
  color: var(--blue-500);
}

.countdown__time {
  gap: 1rem;
}

.countdown__item {
  align-items: center;
  gap: 0.25rem;
  background: var(--neutral-800);
  border-radius: 0.75rem;
  padding: 1rem 0.75rem;
  strong {
    font-size: clamp(2.5rem, 0.2544rem + 4.6784vw, 3.5rem);
  }
}
