*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --neutral-0: #ffffff;
  --neutral-50: #fafafa;
  --neutral-500: #747b95;
  --neutral-800: #333950;
  --neutral-900: #25293a;
  --blue-100: #e4eaff;
  --blue-300: #829cff;
  --blue-500: #5175ff;
  --red-400: #f05b5b;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--neutral-800);
  position: relative;
}

a {
  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2.5rem, 0.2544rem + 4.6784vw, 3.5rem);
  line-height: 120%;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1110px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.top-background {
  position: absolute;
  top: -11%;
  left: 0;
  right: 0;
  z-index: -1;
}

header {
  padding-top: clamp(2.5rem, 0.1145rem + 10.1781vw, 5rem);
  padding-bottom: clamp(5rem, 3.0867rem + 8.1633vw, 8.75rem);
}

.main__nav {
  justify-content: center;
}

@media only screen and (min-width: 48rem) {
  .main__nav {
    justify-content: space-between;
  }
}

/* HERO */
.hero {
  text-align: center;
}

.hero__content {
  gap: 1.5rem;
}

.hero__image {
  max-width: 53%;
  margin: 0 auto;
}
